<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.bid-mapper">

	<!-- 응찰 신청 -->
	<insert id="insertBid">  
		insert into tbl_bid(bno, m_id, b_price, b_date, b_note, pno)
		values (seq_bno.nextval, #{m_id}, #{b_price}, sysdate, #{b_note}, #{pno})
	</insert>
	
	<!-- 낙찰 예정자 확인 -->
	<select id="checkExpectedSuccess" resultType="int">
		select count(*) from tbl_bid
		where b_note = '낙찰예정' and pno = #{pno}
	</select>
	
	<!-- 낙찰 예정자 변경 -->
	<update id="changeExpectedSuccess">
		update tbl_bid
		set b_note = ''
		where b_note = '낙찰예정' and pno = #{pno}
	</update>
	 
	<select id="bidList" resultType="BidVo">
		select * 
		from (select rownum rnum, a.*
			  from (select m.m_id, p.pno, b.bno, p.p_img1, p.p_info, p.p_price, b.b_price, b.b_date, s.s_name, p.p_name, br.b_name
					from tbl_bid b, tbl_product p, tbl_member m, code_state s, code_brand br
					where b.pno = p.pno and p.p_state = s.s_code and p.p_brand = br.b_code and m.m_id = b.m_id and m.m_id = #{m_id} order by b.b_date desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from tbl_bid 
		where m_id = #{m_id}
	</select>
	
	<select id="successBidList" resultType="BidVo">
		select * from
			(select rownum rnum, a.* from
				(select b.m_id, p.p_img1, p.p_name, p.p_info, b.b_price, b.b_date, br.b_name, g.g_discount
				 from tbl_product p, tbl_bid b, code_brand br, tbl_member m, code_grade g
				 where p.t_bidding = #{m_id} and b.m_id = p.t_bidding and b.pno = p.pno and p.p_brand = br.b_code and b.b_note = '낙찰예정' and b.m_id = m.m_id and m.m_grade = g.g_code) a)
		where rnum between #{startRow} and #{endRow}  
	</select> 
	
	<select id="successBidCount" resultType="int">
		select count(*) 
		from tbl_bid b, tbl_product p
		where p.t_bidding = #{m_id} and b.m_id = p.t_bidding and b.pno = p.pno and b.b_note = '낙찰예정'
	</select>
	
	<select id="successBidProGrade" resultType="int">
		select count(*) 
		from tbl_product
		where t_bidding = #{m_id} and p_progress = 'p06' or m_id = #{m_id} and p_progress = 'p06'
	</select>
	
	<update id="successBidUpdateGrade">
		update tbl_member
		set m_trade = #{count}
		where m_id = #{m_id}
	</update>

</mapper>