<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.consignList-mapper">

	<insert id="insertConsign">
	
	</insert>
	
	<select id="consignList" resultType="ConsignListVo">
		select * 
		from (select rownum rnum, a.*
		      from (select c.cs_img, c.cs_name, c.cs_info, c.cs_date, s.p_name
		            from tbl_consign c, code_progress s
		            where c.cs_state = s.p_code and c.m_id = #{m_id}) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from tbl_consign
		where m_id = #{m_id}
	</select>

</mapper>