<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.member-mapper">

	<select id="selectMemberByIdAndPw" resultType="MemberVo">
		select * from tbl_member
		where m_id = #{m_id} and m_pw = #{m_pw}
	</select>
	
	<select id="selectMemberByConsign" resultType="MemberVo">
		select * from tbl_member
		where m_id = #{m_id}
	</select>
	
	<select id="memberList" resultType="MemberVo">
		select * 
		from (select rownum rnum, a.*
			  from (select * from tbl_member m
			  		<include refid="search"></include>
                    order by m_trade asc, join_date desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<insert id="insertMember">
		insert into tbl_member(m_id, m_pw, m_name, m_phone, m_address, m_address2, m_zip, m_account, m_bank, m_email, m_grade)
		values(#{m_id}, #{m_pw}, #{m_name}, #{m_phone}, #{m_address}, #{m_address2}, #{m_zip}, #{m_account}, #{m_bank}, #{m_email}, #{m_grade}) 
	</insert>
	
	<select id="selectMember" resultType="MemberVo">
		select m.*, g.g_name, g.g_discount
		from tbl_member m, code_grade g
		where m.m_grade = g.g_code
		and m.m_id = #{m_id}
	</select>

	<update id="updateMember">
		update tbl_member set
			m_pw = #{m_pw},
			m_phone = #{m_phone},
			m_address = #{m_address},
			m_address2 = #{m_address2},
			m_zip = #{m_zip},
			m_account = #{m_account},
			m_bank = #{m_bank},
			m_email = #{m_email}
		where m_id = #{m_id}
	</update>
	
	<delete id="deleteMember">
		delete from tbl_member
		where m_id = #{m_id} and m_pw = #{m_pw}
	</delete>
	
	<select id="myGname" resultType="String">
		select * from tbl_member
		where m_id = #{m_id}
	</select>
	
	<delete id="adminDeleteMember">
		delete from tbl_member
		where m_id = #{m_id}
	</delete>
	
	<select id="getCount" resultType="int">
		select count(*) from tbl_member
		<include refid="count"></include>
	</select>
	
	<select id="getTrade" resultType="int">
		select m_trade from tbl_member
		where m_id = #{m_id}
	</select>
	
	<update id="modifyGrade">
		update tbl_member
		set m_grade = #{gradeCode}
		where m_id = #{m_id}
	</update>
	
	<!-- 경매 진행 중인 회원 확인 -->
	<select id="auctioningMemberPro" resultType="int">
		select count(*) 
		from tbl_product
		where p_state = 's01' and m_id = #{m_id}
	</select>
	
	<select id="auctioningMemberProBid" resultType="int">
		select count(*)
		from tbl_bid b, tbl_product p
		where b.pno = p.pno and p.p_state = 's01' and b.m_id = #{m_id}
	</select>
	
	<!-- 페이징 검색 -->
	<sql id="search">
		<if test="searchType != null">
			<choose>
				<when test='searchType == "g"'>
				</when>
				<when test='searchType == "id"'>
					where m_id like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "name"'>
					where m_name like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "grade"'>
					, code_grade c
					where c.g_code = m.m_grade and c.g_name = #{keyword}
				</when>
			</choose>
		</if>
	</sql>
	
	<!-- 페이징 카운트 -->
	<sql id="count">
		<if test="searchType != null">
			<choose>
				<when test='searchType == "g"'>
				</when>
				<when test='searchType == "id"'>
					where m_id like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "name"'>
					where m_name like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "grade"'>
					m, code_grade c
					where m.m_grade = c.g_code and c.g_name = #{keyword}
				</when>
			</choose>
		</if>
	</sql>
	
</mapper>