<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.notice-mapper">
	
	<!-- 공지사항 목록 페이징 -->
	<select id="noticeList" resultType="NoticeVo">
		select *
			from (select rownum rnum, a.* 
      			from (select * from tbl_notice
      			<include refid="search"></include>
        		order by nno desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 게시글 갯수 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_notice
		<include refid="search"></include>
	</select>
	
	<!-- 공지사항 입력 -->
	<insert id="insertNotice">
		insert into tbl_notice (nno, n_title, n_content)
		values (seq_nno.nextval, #{n_title}, #{n_content})	
	</insert>
	
	<!-- 공지사항 내용보기 -->
	<select id="noticeRead" resultType="NoticeVo">
		select * from tbl_notice
		where nno = #{nno}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="noticeUpdate">
		update tbl_notice set
			n_title = #{n_title},
			n_content = #{n_content}
		where nno = #{nno}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="noticeDelete">
		delete from tbl_notice
		where nno = #{nno}
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt">
		update tbl_notice set
			view_cnt = view_cnt + 1
		where nno = #{nno}	
	</update>
	
	<!-- 검색 -->
	<sql id="search">
		<if test="keyword != null">
			where n_title like '%' || #{keyword} || '%'
			or n_content like '%' || #{keyword} || '%'
		</if>
	</sql>
	
</mapper>