<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.product-mapper">
	<!-- 상품 (프리미엄) -->
	<select id="premiumProduct" resultType="ProductVo">
		select * from tbl_product p
		join code_brand b on p_brand = b_code 
		where s_price >= #{p_value} and p_state = 's01' order by pno desc
	</select>

	<!-- 상품 (종료) -->
	<select id="endProduct" resultType="ProductVo">
		select * from tbl_product p
		join code_brand b on p_brand = b_code
		where p_state = #{p_state}
	</select>
	
	<!-- 상품 내용 -->
	<select id="selectByPno" resultType="ProductVo">
		select * from tbl_product p, code_brand c
		where c.b_code = p.p_brand and pno = #{pno}
	</select>
	
	<!-- 상품 응찰 카운트 -->
	<select id="bidCountByPno" resultType="java.lang.Integer"> 
		select count(*) from tbl_bid
		where pno = #{pno}
	</select>
	
	<!-- 응찰내역 -->
	<select id="bidList" resultType="BidVo"> 
		select b.bno, b.m_id, b.b_price, b.b_date, c.b_name from tbl_bid b,tbl_product p, code_brand c
		where b.pno = p.pno and c.b_code = p.p_brand and b.pno = #{pno} order by bno desc
	</select>
	
	<!-- 최근 등록 상품 -->
	<select id="ProductVo">
		select * from tbl_product
	</select>
	
	<!-- 상태 변경 -->
	<update id="updateP_state">
		update tbl_product set
    		p_state = #{p_state}
		where p_until &lt; sysdate
	</update>
	
	<!-- 경매중인 상품 날짜 얻기 -->
	<select id="selectP_until" resultType="java.sql.Timestamp">
		select p_until from tbl_product
		where p_state = 's01'
	</select>

</mapper>