<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.qna-mapper">

	<!-- nextval 값 얻기 -->
	<select id="getNextVal" resultType="int">
		select seq_qno.nextval from dual
	</select>
	
	<!-- QnA 1:1문의 목록 - 회원 --> 
	<select id="myQna" resultType="QnaVo">
		select m.m_name, q.qno, q.q_kind, q.q_title, q.q_content, q.q_date, q.q_answer
			from tbl_qna q, tbl_member m
	 		where m.m_id = q.m_id and m.m_id = #{m_id}
		    order by qno desc
	</select>
	
	<!-- QnA 1:1문의 목록 문의 (페이징) - 관리자 -->
	<select id="qnaList" resultType="QnaVo">
		select *
			from (select rownum rnum, a.* 
      			from (select * from tbl_qna
      			<include refid="search"></include>
        		order by qno desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 게시글 수 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_qna
		<include refid="search"></include>
	</select>
	
	<!-- QnA 답변목록 -->
	<select id="qReplyList" resultType="QreplyVo">
		select * from tbl_qreply
			where qno = #{qno}
			order by qrno desc
	</select>
	
	<!-- 답변 입력 -->
	<insert id="qReplyInsert">
		insert into tbl_qreply(qrno, q_reply, qno)
		values (seq_qrno.nextval, #{q_reply}, #{qno})
	</insert>
	
	<!-- QnA 답변 상태 수정 - 관리자 -->
	<update id="qnaUpdate">
		update tbl_qna set
			q_answer = #{q_answer}
		where qno = #{qno}
	</update>
	
	<!-- 답변 수정 -->
	<update id="qReplyUpdate">
		update tbl_qreply set
			q_reply = #{q_reply}
		where qrno = #{qrno}
	</update>
	
	<!-- QnA 1:1문의 내용보기 - 관리자 -->
	<select id="qnaRead" resultType="QnaVo">
		select * from tbl_qna
		where qno = #{qno}
	</select>
	
	<!-- QnA 1:1문의 입력 - 회원 -->
	<insert id="qnaInsert">
		insert into tbl_qna (qno, m_id, q_kind, q_title, q_content, q_answer)
		values (#{qno}, #{m_id}, #{q_kind}, #{q_title}, #{q_content}, #{q_answer})	
	</insert>
	
	<!-- QnA 1:1문의 삭제 -->
	<delete id="qnaDelete">
		delete from tbl_qna
		where qno = #{qno}
	</delete>
	
	<!-- qna 삭제 (체크박스) - 관리자 -->
	<delete id="qnaDeleteChk">
		delete from tbl_qna
		where qno = #{qno}
	</delete>
	
	<!-- 첨부파일 추가 -->
	<insert id="insertQUpload">
		insert into tbl_qupload(file_name, qno)
		values (#{file_name}, #{qno})
	</insert>
	
	<!-- QnA 첨부파일 목록 -->
	<select id="qUploadList" resultType="QnaVo">
		select * from tbl_qupload
		where qno = #{qno}
	</select>
	
	<!-- 검색 -->
	<sql id="search">
		<if test="searchType != null">
			<choose>
				<when test='searchType == "N"'>
					where q_answer like '%' || 'N' || '%'
				</when>
				<when test='searchType == "Y"'>
					where q_answer like '%' || 'Y' || '%'
				</when>
				<when test='searchType == "kind"'>
					where q_kind like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "id"'>
					where m_id like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "t"'>
					where q_title like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "c"'>
					where q_content like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</sql>
	
	
</mapper>