<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.wishlist-mapper">

	<insert id="insertWishlist">
		insert into tbl_wish(pno, m_id, wno)
		values(#{pno}, #{m_id}, seq_wno.nextval)
	</insert>

	<select id="wishList" resultType="WishlistVo">
		select * 
		from (select rownum rnum, a.*
			  from (select w.wno, m.m_id, p.pno, p.p_img, p.p_info, p.p_price
			 		from tbl_wish w, tbl_product p, tbl_member m
			  		where m.m_id = w.m_id and w.pno = p.pno and m.m_id = #{m_id}) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<delete id="deleteWishlist">
		delete from tbl_wish
		where wno = #{wno}
	</delete>
	
	<delete id="deleteWishMulti">
		delete from tbl_wish
		where wno = ${wno}
	</delete>
	
	<select id="getCount" resultType="int">
		select count(*) from tbl_wish
		where m_id = #{m_id}
	</select>

</mapper>