<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 패키지 단위 (별칭 지정 : 줄여쓰기 위함) -->
		<package name="com.kh.team.domain"/>
	</typeAliases>
</configuration>